[phases.setup]
nixPkgs = ["php82", "nodejs", "npm", "composer", "caddy"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader", "npm install", "npm run build"]

[phases.build]
cmds = ["php artisan config:cache", "php artisan route:cache", "php artisan view:cache"]

[start]
cmd = "bash start.sh"

[variables]
NIXPACKS_PHP_ROOT = "public"
APP_ENV = "production"
APP_DEBUG = "false"

